/* Estilos base */
:root {
  --padding-1: 8px;
  --padding-2: 16px;
  --padding-3: 32px;
}
/*  */
.App {
  padding: 0 var(--padding-2);
  margin: 0 auto;
  max-width: 960px;
}
ul { margin: 0}
/* header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: var(--padding-1) var(--padding-2);
}
header div img {
  animation: Blured infinite 5s linear;
  pointer-events: none;
  height: 36px;
  width: auto;
}
/*  */
/* animation */
@keyframes Blured {
  0% {
    filter: blur(0px);
  }
  5% {
    filter: blur(1px);
  }
  10% {
    filter: blur(0px);
  }
  75% {
    filter: blur(0px);
  }
  76% {
    filter: blur(1px);
  }
  77% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0px);
  }
}
